PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

LIGHTHOUSE_API_KEY=
LIGHTHOUSE_ENDPOINT=https://api.lighthouse.storage

INFURA_API_KEY=
INFURA_API_SECRET=
INFURA_ENDPOINT=

HOODI_RPC_URL=https://ethereum-hoodi-rpc.publicnode.com/

ETHEREUM_ADDRESS=
ETHEREUM_PRIVATE_KEY=
ETHEREUM_NETWORK=hoodi
CONTRACT_ADDRESS=

MONGODB_URI=
